In [ ]:
import nltk
import pandas as pd

In [ ]:
df=pd.read_excel("/content/drive/MyDrive/Zomato Web scraping/zomato.xlsx")

In [ ]:
df.head()

  Restaurant  ...                                        Description
0  Pizza Hut  ...  1 Personal Veg Pizza , 2 Pcs Garlic Bread & Pe...
1  Pizza Hut  ...           2 Veg Personal Pizza & Garlic Breadstix!
2  Pizza Hut  ...                     2 Medium Pizzas @ Rs 299 each.
3  Pizza Hut  ...                                Nothing but cheese!
4  Pizza Hut  ...       Nothing but classic cheese with more cheese!

[5 rows x 11 columns]

#Data cleaning

In [ ]:
df["Chef's special"]=df["Chef's special"].fillna(0)
df["Chef's special"]=df["Chef's special"].replace("CHEF'S SPECIAL",1)

df["Must try"]=df["Must try"].fillna(0)
df["Must try"]=df["Must try"].replace("MUST TRY",1)
df.head()

  Restaurant  ...                                        Description
0  Pizza Hut  ...  1 Personal Veg Pizza , 2 Pcs Garlic Bread & Pe...
1  Pizza Hut  ...           2 Veg Personal Pizza & Garlic Breadstix!
2  Pizza Hut  ...                     2 Medium Pizzas @ Rs 299 each.
3  Pizza Hut  ...                                Nothing but cheese!
4  Pizza Hut  ...       Nothing but classic cheese with more cheese!

[5 rows x 11 columns]

In [ ]:
df["Description"]=df["Description"].fillna(" ")

#Price range

In [ ]:
price_range=df.groupby(['Restaurant', 'Address']).agg({'Price': ['mean', 'min', 'max']})
print('Price range of restaurants')
price_range

Price range of restaurants

                                          Price
                                           mean    min     max
Restaurant   Address
Laziz Pizza  City Centre, Udaipur    180.911765   35.0   429.0
Pizza Burst  Hiran Magri, Udaipur    147.920079   59.5   382.5
             Subhash Nagar, Udaipur  204.211538   50.0   450.0
Pizza Empire City Centre, Udaipur    229.415584  110.0   900.0
Pizza Hut    Ashok Nagar, Udaipur    380.163714   30.0  1799.0

In [ ]:
description=df['Description']
description.head()

0    1 Personal Veg Pizza , 2 Pcs Garlic Bread & Pe...
1             2 Veg Personal Pizza & Garlic Breadstix!
2                       2 Medium Pizzas @ Rs 299 each.
3                                  Nothing but cheese!
4         Nothing but classic cheese with more cheese!
Name: Description, dtype: object

In [ ]:
names=df['Item Name']

In [ ]:
names_list=''
for sentence in names:
  # print(sentence)
  description_list=description_list+str(sentence)+" "

words=description_list.split()
print('Most commmon keywords used for Item names')
tokens=nltk.FreqDist(words)  
tokens.most_common(5)

Most commmon keywords used for Item names

[('Pizza', 304), ('and', 141), ('Cheese,', 108), ('Veg', 105), ('green', 105)]

In [ ]:
description_list=''
for sentence in description:
  # print(sentence)
  description_list=description_list+str(sentence)+" "

words=description_list.split()
# print(words)
tokens=nltk.FreqDist(words)  
print('Most commmon keywords used for description')
tokens.most_common(3)

Most commmon keywords used for description

[('and', 140), ('Cheese,', 108), ('green', 105)]